@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
  font: 400 15px "Roboto Condensed", sans-serif;
}

body {
  background-color: #e0e0e0;
}

/* Farver */
$blue: #1c2659;
$orange: #D27411;
$hoverorange: #DB9040;
$black: #000000;
$white: #FFFFFF;

/* font til overskrifter */
h1 {
  font: 700 64px "Roboto Condensed", sans-serif;
  color: $orange;
}

h2 {
  font: 700 32px "Montserrat", sans-serif;
  color: $orange;
}

@mixin color-style {
    height: 4rem;
    border-style: solid;
    border-color: $black;
    border-width: thin;
    width: 4rem;
    margin: auto;
  }

.blue {
    background-color: $blue;
    @include color-style;
}

.orange {
    background-color: $orange;
    @include color-style;
}

.white {
    background-color: $white;
    @include color-style;
}

.black {
    background-color: $black;
    @include color-style;
}

.hoverorange {
  background-color: $hoverorange;
  @include color-style;
}

/* Grid */

@mixin center {
  text-align: center;
  width: 33.33%;
  }


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.menu {
    grid-column: span 3;
}

 .overskrift {
    grid-column: span 3;
    margin: 3rem;
}

 .elementer-overordnet {
    grid-column: span 3;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.element {
  @include center;
}

.beskrivelse {
  @include center;
  margin: 0 2rem 0 2rem;
}

.kode {
  @include center;
  margin: 0 2rem 0 2rem;
  overflow-y: hidden;
}

.koden {
  text-align: start;
}

.element-navn {
  margin-bottom: 1rem;
}

/* Dropdown Menu */
/* Button */
.dropbtn {
    background-color: $blue;
    color: $white;
    width: 8rem;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    &:hover, &:focus {
        background-color: $orange;
    }
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    width: 8rem;

    a {
        color: black;
        padding: 0.75rem 1rem;
        text-decoration: none;
        display: block;
        &:hover {
            background-color: $orange;
            color: $white;
        }
      }
}
/* Show the dropdown menu (when the user clicks on the dropdown button) */
.show {display:block;}

/* Ikoner */
.material-icons-round {
  color: $orange;
  transform: scale(1.8);
  margin: 1rem;
}

.fa-solid, .fa-brands {
  color: $orange;
  font-size: 2.5rem;
  margin: 1.5rem;
}

/* Knapper */
@mixin button-style {
  margin: auto;
  border-radius: 0.3rem;
  width: 10rem;
  p {
    padding: 0.6rem;
  }
}

.button {
  background-color: $orange;
  @include button-style;
  &:hover {
    background-color: $hoverorange;
  }
}

.button-border {
  background-color: $orange;
  border: 0.15rem solid $white;
  @include button-style;
    &:hover {
      border: 0.15rem solid $hoverorange;
      background-color: $hoverorange;
    }
  }
